.wrap-ecommerce{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carton-cathegorie-bloc{
    display: flex;
    margin-bottom: 10px;
}
.product-titles{
    margin-bottom: 20px;
    width: 80%;
    
    font-size: 1.3em;
    font-weight: 300;
}
.carton-cathegorie-bloc{
    width: 80%;
    height: auto;
    
    display: flex;
    flex-wrap: wrap;
}
/*****************************************ITEM E COMMERCE*****************************************/

.wrap-Item{
    height: 350px;
    width: 200px;
    border: 1px solid lightgrey;
    border-radius: 10px 10px 10px 10px ;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
}
.wrap-Item:hover
.description-carton{

display: flex;
}
.wrap-Item:hover .image-carton{

display: none;
}
.description-carton{
    display: none;
    padding-left: 5px;
    text-align: center;
}
.Item-Ecommerce{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.quantite{
    background-color: lightgrey;
  width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.quantite:hover
    .Item-Icons, .wrap-quantite{
color: white;
border: 1px solid white;
    }
.quantite:hover{
    background-color:#2c216f;
}

.Item-Icons{

border: 1px solid black;
border-radius: 50%;
font-size: 1.3em;
color: black;
cursor: pointer;
font-weight: 600;
margin: 20px;

}
.wrap-quantite{


    border:  1px solid lightgrey;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/************************************************STYLING SHOPING CART***********************************************/
.cart{
    height: 50px;
    width: 500px;
    border: 1px solid red;
    position: fixed;
    top: 70px;
    right: 0px;
    background-color: white;
    z-index: 2;
}

.row{
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: lightgray;
}