
.principal-formulaire{
    background-color: rgb(243,243,243);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-calcul {
    font-size: 1vw;
    width: 70%;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

.wrap-formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    
   
}
.calcul-bloc{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
 
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
    
}
.calcul-montant{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
    margin-left: 10px;

}
.calcul-montant p{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
}
.total-formulaire{
width: 90%;
height: 50px;
border: 1px solid lightgray;
border-radius: 5px 5px 5px 5px;
display: flex;

justify-content: space-between;
align-items: center;
margin-bottom: 50px;
padding-left: 5px;
padding-right: 5px;

}
.calcul-bloc-item{
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px hidden red;
  

}
.date-wrap{

display: flex;


margin-bottom: 20px;
width: 90%;

}
.text-conatiner{
    width: 90%;
    margin-bottom: 20px;
}
.date-input-style{
 
  border: none;
  border: 1px solid lightgray;
border-radius: 5px 5px 5px 5px;
}
.inter-calcul-item{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

}
.check-yes-no{
width: 20%;
}
input{
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
}
.address-input{
    width: 60%;
}
.select-ville{
   
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;

}
.title{
        font-size: 12px;
        margin-top: 10px;
}
.title a{
    font-size: 12px;
   color: #2c216f;
  
}
.volum-input{
    width: 50%;
    display: flex;
    justify-content: space-between;

}
.btn-formule{
    background-color:#2c216f ;
    color: white;
    font-size: 15px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    width: 20%;
    cursor: pointer;
}
.btn-formule:hover{
    background-color:#514c74 ;
}
.width90{
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.7em;
}
.width90-2{
    width: 50%;
  
    margin-bottom: 50px;  
}
.width90-2-center{
    width: 70%;
    display: flex;
}
.input-commantaires{
    height: 250px;
    width: 500px;
}
.center-comments{
    border: 1px hidden red;
 
    padding-left: 5%;
}


/*****************************************RESPONSIVR*******************************************/
@media screen and(max-width:1000px) {
    .inter-calcul-item{

        border: 1px solid red;
        background-color: black;
    }
    
}