.carton{
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.calcul-carton{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    padding: 10px;
   
}
.img-carton-size{
    height: 100px;
    width: 100px;
}
.img-carton{
    width: fit-content;
}
.text-carton{
    display: flex;
    width: 100%;
}
.text-carton h1{
font-size: 1.1em;
}
.text-carton p{
    font-size: 1.3em; 
    font-weight: 200; 
    margin-top: 10px;
}
.text-carton h4
{
    font-size: 12px; 
    font-weight: 600; 
    margin-top: 50px; 
}
.margin-top{
    margin-top: 50px;
}
.Total-carton{
    background-color: rgb(243,243,243);
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
    height: fit-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Total-carton h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.Total-carton h3{
    padding-left: 10px;
    padding-right: 10px;
}
.Total-carton h4{
    font-size: 2.8em;
    margin-top: 50px;
    margin-left: 30px;
   margin-right: 20px;
    font-weight: 300;
}
.resultat-volume{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 30px;
    width: 100%;
    background-color: rgb(255, 254, 254);
}
.btn-carton{
    width: 90%;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    background-color: #2c216f ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

}
.input-volum{
display: flex;
padding-left: 10px;
margin-top: 50px;
margin-bottom: 50px;
width: 80%;
}
.element-volum{
    width: 80%;
    
    border-radius: 5px 5px 5px 5px ;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    background-color:rgb(243,243,243); 
    border: 1px solid red;
}
.select-inter-piéce{

width: 80%;
margin-bottom: 10px;


}
.add-box{
    
    height: auto;
   
}
.icon-colum-item{
    
}
.la-piéce-head{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border: 1px hidden blue;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.select-la-piece{
    width: 80%;
}